<section class="pop_box">
    <div class="row clearfix">
        <a data-remodal-action="close" class="nav-toggle close"><span class="iconMenu"></span></a>

        <div class="center">
            <h4>¡Cambiar Reservación!</h4>
            <small>Selecciona un lugar</small>
        </div>

        <div class="clearfix class_pop {{ session.type|PackageSessionType|lower }}">
            <div class="grid-1-6 right reserve-{{ grid_class }}">
                <div id="place_container">
                    {% for place in 1..session.exerciseRoomCapacity %}
                        {% set place_not_available = place in session.placesNotAvailable %}
                        {% set user_reserved_place = place in userReservations %}
                        {% set is_reserved = reservations[place] is defined %}

                        {% set html_element = is_reserved or place_not_available ? 'span' : 'a' %}
                        {% set class_active = user_reserved_place  ? 'active' : '' %}
                        {% set class_engaged = is_reserved and not user_reserved_place ? 'engaged' : '' %}
                        {% set class_not_available = place_not_available ? 'not-available' : '' %}

                        <{{ html_element }} class="place {{ class_active }} {{ class_engaged }} {{ class_not_available }}" data-place="{{ place }}">
                            <p>{{ place }}</p>
                        </{{ html_element }}>
                    {% endfor %}
                </div>
            </div>

            <div class="grid-1-6 right reserve-{{ grid_class }}">
                <div class="class {{ discipline|replace({' ': '-'})|lower }}">
                    <span class="icon-{{  session.individual ? 'individual' : 'group' }}"></span>
                    <h6>{{ discipline }}</h6>
                    <p>{{ session.timeStart|date('h:i a') }}</p>
                    <p><strong>{{ session.instructor.profile.firstname }}</strong></p>
                </div>
                <p>
                    <small><b>Día:</b> {{ session.dateStart|date('d/m/y') }}</small>
                </p>
                <p>
                    <small><b>Sucursal:</b> {{ session.branchOffice.place }}</small>
                </p>
            </div>
        </div>

        <a href="#" class="btn btn-confirm btn-submit">Confirmar cambio reservación</a>

        <form id="frmReservation" action="{{ path('reservation_change_session', {
            'id': reservation.id,
            'sessionId': session.id
        }) }}" method="post" class="m-fjx">
            <input type="hidden" name="place_number" />
        </form>

    </div>
</section>

<script>
    reservationInit();
</script>