<div class="grid-1-4 right">
    <h4>
        Tu compra<small>(Vigencia {{ package.daysExpiry }} días)</small>
    </h4>
    <div class="price">
        <a href="#">
            <div>
                {% if package.discountInfo %}
                    <i class="discount">{{ package.discountInfo }}</i>
                {% endif %}
                <p>
                    {% if package.isUnlimited %}
                        &infin;
                    {% else %}
                        {{ package.totalClasses }}
                    {% endif %}
                </p>
            </div>
            <h6 class="{{ package.specialPrice ? 'old-price' }}">
                <small>Clase {{ package.type|PackageSessionType }}</small>
                {% if package.altText %}
                    <br><small>{{ package.altText }}</small>
                {% endif %}
                <br>
                ${{ package.amount | number_format }}
            </h6>
            {% if package.specialPrice %}
                <h5 class="new-price">${{ package.specialPrice|number_format }}</h5>
            {% endif %}
        </a>
    </div>
    <p>
        <small>
            Consulta
            <a href="{{ path('package_index') }}" data-remodal-action="close">otros paquetes</a>
        </small>
    </p>
</div>