<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title" id="myModalLabel2">Cambiar contraseña</h4>
</div>
<div class="modal-body">
    {{ form_start(form, {
        'attr': {
            'id': 'frmChangePassword',
        }
    }) }}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    {{ form_label(form.password.first, 'Contraseña:') }}
                    {{ form_widget(form.password.first, {
                        'attr': {
                            'class': 'form-control',
                        }
                    }) }}
                    {{ form_errors(form.password.first) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.password.second, 'Confirmar contraseña:') }}
                    {{ form_widget(form.password.second, {
                        'attr': {
                            'class': 'form-control',
                        }
                    }) }}
                    {{ form_errors(form.password.second) }}
                </div>
            </div>
        </div>
    {{ form_end(form) }}
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-warning btn-submit" data-loading-text="Actualizando ...">Actualizar</button>
</div>

<script type="text/javascript">
    $('#changePasswordModal .btn-submit').on('click', function () {
        var form = $('#frmChangePassword');
        var btn = $(this).button('loading');

        $.ajax({
            url: form.prop('action'),
            type: 'post',
            data: form.serialize(),
            success: function(response, textStatus, jqXHR) {
                if ('application/json' == jqXHR.getResponseHeader('Content-Type')) {
                    $.flash.success('¡La contraseña ha sido actualizada!');

                    $('#changePasswordModal').modal('hide');
                } else {
                    $('#changePasswordModal .modal-content').html(response);
                }
            }
        });

        return false;
    });
</script>
