{{ form_start(form, {'attr': {'id': 'form-branch-office'}}) }}
    <div class="row">
        {{ form_row(form.name, {'row_attr': {'class': 'col-md-6'}}) }}
        {{ form_row(form.place, {'row_attr': {'class': 'col-md-6'}}) }}
    </div>

    <div class="row">
        {{ form_row(form.public, {'row_attr': {'class': 'col-md-6'}}) }}
    </div>

    <div class="ln_solid"></div>

    {{ include('backend/default/_btn_save.html.twig') }}
{{ form_end(form) }}
