{% extends 'backend/layout.html.twig' %}

{% set page_section = 'Páginas' %}
{% set page_title = 'Listado de Páginas' %}

{% block content %}
    {% embed 'backend/default/embed/list_common.html.twig' with { 'page_section': page_section, 'page_title': page_title } %}
        {% block actions %}
            <div class="col-md-3 col-sm-4 col-xs-8 form-group pull-right top_search">
                <div class="input-group">
                    <a href="{{ path('backend_page_new') }}" class="btn btn-default">Nueva página</a>
                </div>
            </div>
        {% endblock %}

        {% block body %}
            {% if pagination | length > 0 %}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Slug</th>
                                <th class="text-center">F. Modificación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for page in pagination %}
                                {# page \App\Entity\Post #}
                                <tr>
                                    <td>
                                        <a href="{{ path('backend_page_edit', { 'id': page.id }) }}" class="link-edit">
                                            <u>{{ page.title }}</u>
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td>
{#                                        <a href="{{ path('page', { 'slug': page.slug }) }}" target="_blank">#}
                                            /{{ page.slug }}
                                            <i class="fa fa-external-link" aria-hidden="true"></i>
{#                                        </a>#}
                                    </td>
                                    <td class="text-center">
                                        {% if page.updatedAt %}
                                            {{ page.updatedAt | date('Y-m-d H:i:s') }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">
                                        <p class="text-info text-center">
                                            <strong>Sin registros para mostrar.</strong>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                {{ include('backend/default/partials/not_records.html.twig') }}
            {% endif %}
        {% endblock %}

        {% block footer %}
            {% if pagination | length > 0 %}
                {{ knp_pagination_render(pagination) }}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
